/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
   color: black;
   font-size: 20px;
 }

 body {
   background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
   color: black;
   text-align: center;
 }

 table {
   margin: auto;
 }

 footer {
   font-size: 13px;
 }

 #error_explanation {
   margin: auto;
 }

 .field {
   display: inline-flex;
   margin: auto;
 }

 .content {
   display: inline-flex;
   margin: auto;
 }

 .picture {
   display: block;
   margin: auto;
 }

 .password {
   display: inline-flex;
   margin: auto;
 }

 .sign_up {
   display: inline-block;
   margin: auto;
 }
